
.mtzdCurrentTime {
    cursor: pointer;
}
.mtzdError {
    background-color: yellow;
}
.mtzdLink {
    cursor: pointer;
}
.mtzdLink:hover {
    text-decoration: underline;
}
.mtzdDatepicker {
    display: none;
}
.mtzdDatepickerImage {
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 22px;
    top: 5px;
}