/*
    moment-timezone-diff.css
    version : 0.4.0
    authors : Martyn Davis
    license : MIT
*/
.mtzdCurrentTime {
    cursor: pointer;
}
.mtzdError {
    background-color: yellow;
}
.mtzdLink {
    cursor: pointer;
}
.mtzdLink:hover {
    text-decoration: underline;
}
.mtzdDatepicker {
    display: none;
}
.mtzdDatepickerImage {
    position: relative;
    cursor: pointer;
    height: 20px;
    width: 22px;
    top: 5px;
}
#mtzdFormats {
    display: none;
}
.mtzdLegendBreak {
    padding-left: 10px;
}